<div class="card card-weather">
  <div class="weather-card-heading">
    <h2 class="font-heading uppercase">current weather in</h2>
    <select (change)="getWeather($event.target.value)" class="font-heading">
      <option *ngFor="let city of cities" [value]="city">
        {{ city | uppercase }}
      </option>
    </select>
  </div>

  <div *ngIf="!isWeatherOffline; else weatherIsOffline">
    <p class="font-normal degrees">
      {{ weather?.main.temp | round }} <span aria-hidden="true">&#176;</span>
    </p>
    <p class="font-normal">{{ (weather?.weather)[0].description }}</p>
  </div>

  <ng-template #weatherIsOffline>
    <p class="error-msg font-normal">Weather is offline</p>
  </ng-template>
</div>
