.rates {
  display: flex;

  @media screen and (max-width: 1120px) {
    flex-direction: column;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
  }

  .arrows {
    align-self: center;
    font-size: 2rem;
    margin: 0 1rem;
  }
}
