<div class="card">
  <div class="card-theme">
    <mat-icon class="icon icon-big">attach_money</mat-icon>
  </div>
  <div class="card-content">
    <h2 class="font-heading uppercase">Exchangerates</h2>
    <div class="font-normal rates">
      <p>{{ exchangeRates?.rates.EUR }} EUR</p>
      <span class="arrows" aria-hidden="true">⇄</span>
      <p>{{ exchangeRates?.rates.SEK }} SEK</p>
    </div>
    <p class="font-normal details">
      Updated at: {{ exchangeRates?.date | date: "dd MMM yyyy, h:mm" }}
    </p>
  </div>
</div>
