/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

main {
  display: flex;
}

p,
span {
  font-family: "Roboto";
}

h1,
h2,
h3 {
  font-family: monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.uppercase {
  text-transform: uppercase;
}

.card {
  display: flex;
  margin: 1rem;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(217, 213, 217, 1);
  -moz-box-shadow: 3px 4px 5px 0px rgba(217, 213, 217, 1);
  box-shadow: 3px 4px 5px 0px rgba(217, 213, 217, 1);

  @media only screen and (max-width: 375px) {
    flex-direction: column;
  }

  .card-theme {
    padding: 1rem;
    background-color: #427a5b;
    color: #ffffff;

    .icon {
      margin: auto;
    }
  }

  .card-content {
    padding: 1rem 2rem;
  }
}

.error-msg {
  font-size: 1.5rem;
  color: #e2434b;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-size: 1rem;
  background-color: transparent;
  border-bottom: 4px solid #b4cd93;
  border-radius: 0;
  font-weight: 700;
  display: block;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSI+PC9wb2x5bGluZT48L3N2Zz4=");
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 24px;
  width: auto;
  font-family: monospace;
}

.details {
  color: #403f3f;
}

.icon-big {
  font-size: 3rem;
  width: 3rem !important;
  height: 3rem !important;
}

.icon-label {
  font-size: 0.7rem;
}
